.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #0f0f0f;
  color: white;

  input {
    padding: 12px;
    width: 300px;
    margin: 20px 0;
    border-radius: 8px;
    border: none;
  }

  .buttons {
    display: flex;
    gap: 10px;

    button {
      padding: 10px 20px;
      border: none;
      border-radius: 8px;
      background: linear-gradient(45deg, #00c6ff, #00e19e);
      color: black;
      cursor: pointer;
    }
  }
}